<!DOCTYPE html>
<html lang="es" xmlns="https://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<title>Productos</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.css}" />
</head>

<body>

	<nav th:replace="layout::menu">
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-8 container justify-contetnt-center card">
				<h1 class="text-center">Registrar Productos</h1>
				<h2 class="text-left">Por: Jean Pierre Anthony Barreto Pilco</h2>
				<div class="card-body">
					<form th:action="@{/}" method="post" th:object="${productos}">

						<div class=" form-group">
							<br>
							<!--							CODIGO-->
							<div class="mb-3">
								<label for="inputcodigo" class="form-label">Codigo : </label>
								<input type="text" name="codproducto" class="form-control" id="inputcodigo"
									placeholder="Ingrese codigo" required>
							</div>
							<!--							NOMBRE-->
							<div class="mb-3">
								<label for="inputnombre" class="form-label">Nombre :</label>
								<input type="text" name="nombre" class="form-control" id="inputnombre"
									placeholder="Ingrese nombre" required>
							</div>
							<!--							STOCK-->
							<div class="mb-3">
								<label for="inputstock" class="form-label">Stock :</label>
								<input type="text" name="stock" class="form-control" id="inputstock"
									placeholder="Ingrese stock" required>
							</div>
							<!--							PRECIO-->
							<div class="mb-3">
								<label for="inputprecio" class="form-label">Precio :</label>
								<input type="text" name="precio" class="form-control" id="inputprecio"
									placeholder="Ingrese precio" required>
							</div>
							<!--							PROVEEDOR-->
							<div class="mb-3">
								<label for="inputproveedor" class="form-label">Proveedor :</label>
								<input type="text" name="proveedor" class="form-control" id="inputproveedor"
									placeholder="Ingrese proveedor" required>
							</div>


						</div>
				</div>

				<!-- Agrupa los botones horizontalmente con espacio entre ellos -->
				<div class="btn-group" role="group">
					<button type="submit" class="btn btn-success mx-5">Registrar</button>
					<a class="btn btn-primary mx-5">Listar</a>
					<a class="btn btn-info mx-5">Actualizar</a>
					<a class="btn btn-danger mx-5">Eliminar</a>
				</div>

				<br>
				<table class="table">
					<thead class="table-dark">
						<th>CODIGO</th>
						<th>NOMBRE</th>
						<th>STOCK</th>
						<th>PRECIO</th>
						<th>PROVEEDOR</th>
					</thead>
					<tbody>
						<tr th:each="prod : ${htproductos}">
							<th th:text="${prod.codproducto}"></th>
							<th th:text="${prod.nombre}"></th>
							<th th:text="${prod.stock}"></th>
							<th th:text="${prod.precio}"></th>
							<th th:text="${prod.proveedor}"></th>
						
						</tr>
					</tbody>
				</table>

				</form>
			</div>
		</div>
	</div>
	</div>

	<script type=" text/javascript" th:href="@{/script/jquery/jquery.js}"></script>
	<script type="text/javascript" th:href="@{/script/js/bootstrap.js}"></script>
</body>

</html>