<!doctype html>
<html lang="es" xmlns="https://www.thymeleaf.org/">

<head>
	<title>Ventas</title>
	<meta charset=”utf-8” />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.css}" />
</head>

<body>
	<nav th:replace="layout::menu">
	</nav>
	<div class="container text-center">
		<div class="row">
			<div class="col-sm"></div>
			<div class="col-lg">
				<div class="card">
					<div class="card-header text-bg-danger text-center">
						VENTAS
					</div>
					<div class="card-body">
						<form th:action="@{/ventax}" method="post" th:object="${VentasForm}">
							<div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">ID CLIENTE</label>
								<input type="text" name="ID" class="form-control" id="exampleInputEmail1">
							</div>
							<div class="mb-3">
								<label for="exampleInputPassword1" class="form-label">CODIGO</label>
								<input type="text" name="Codigo" class="form-control" id="exampleInputPassword1">
							</div>
							<div class="mb-3">
								<label for="exampleInputPassword1" class="form-label">PRODUCTO</label>
								<input type="text" name="Producto" class="form-control" id="exampleInputPassword1">
							</div>
							<div class="mb-3">
								<label for="exampleInputPassword1" class="form-label">PRECIO UNITARIO</label>
								<input type="text" name="PrecioU" class="form-control" id="exampleInputPassword1">
							</div>
							<div class="mb-3">
								<label for="exampleInputPassword1" class="form-label">CANTIDAD</label>
								<input type="text" name="Cant" class="form-control" id="exampleInputPassword1">
							</div>
							<div th:if="${visual}" class="alert alert-danger" role="alert">
								<span th:text="${R}?:''"></span>
							</div>
							<button type="submit" class="btn btn-danger">TOTAL</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-sm"></div>
		</div>
	</div>

	<script type=" text/javascript" th:href="@{/script/jquery/jquery.js}"></script>
	<script type="text/javascript" th:href="@{/script/js/bootstrap.js}"></script>
</body>

</html>